@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: white;
}
#first{
    height: 100vh;
    overflow: hidden;
}
nav #link .v{
    display: inline-block;
    position: relative;
    color: black;
    font-size: 17px;
    text-decoration: none;

    transition: 1s ease-in;
}
nav #link .v::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
nav #link .v:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
nav{

    padding: 20px 30px;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #link .l{
    padding: 0px 10px;
}
nav #logo{
    color: #000;
    font-weight: 800 !important;
    font-size: 30px;
}
@media (min-width:1020px) {
    
    nav #link .v{
        display: inline-block;
        position: relative;
        color: black;
        font-size: 17px;
        text-decoration: none;
        word-spacing: 20px;
        padding-right: 30px;
        margin-right:40px;
        transition: 1s ease-in;
    }
    #home
    {
        display: flex;
        height: 100%;
        overflow: hidden;
        justify-content: space-between;
    }
    #home img{
        transform: translateY(-80px);
        width: 800px !important;
    }
    
    #home #text{
        padding-top: 270px;
        word-spacing: 10px;
        text-transform: capitalize;
        letter-spacing: 7px;
        padding-right: 200px;
        font-size: 50px;
    }
    .allcards{
        padding: 200px 100px 0 100px;
    }
    footer{
        display: none;
    }
}
#home img:nth-child(1){
    animation: anim 2s ease-in infinite;
}
@keyframes anim {
    50%{
        transform: translateY(-60px);
    }
}
@media (max-width:1020px) {
    nav #logo{
        font-size: 20px;
    }
    nav #link .v
    {
        font-size: 13px;
        margin-right:2vw;
    }
    nav #link .l{
        display: none;
    }
    .allcards{
        padding: 100px 20px 0 20px;
    }
    @keyframes anim {
        50%{
            transform: translateY(-20px);

        }
    }
        
    #second{
        flex-wrap: wrap;
        padding-bottom: 100px;
    }
    #second h1,#third h1{
        padding-top: 100px;
        font-size: 12vw !important;
    }
    #second p{
        font-size: 15px;
        padding: 50px 10px;
    }
    #home #text{
        font-weight: 100;
        transform: translateY(-70px);
        text-align: center;
        font-size: 50px;
    }
}
#second p{
    width: 150%;
}
#second{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    overflow: hidden;
}
#second h1,#third h1{
    width: 100%;
    text-decoration: underline;
    text-decoration-color: #199ee1;
    border-left: 10px;
    text-align: center;
    font-size: 80px;
    text-transform: capitalize;
    font-weight: 700;
}
#third{
    min-height: 100%;
    padding: 0 40px;
}
#third h1{
    
    text-align: center;
}
#third .card-header
{
    background-color: #272B2F;
}
.allcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#third .card{
    background-color: #262626;
    color: #ececec !important;
}
footer h3{
    padding: 30px 0 0 0;
    width: 100%;
    text-decoration: underline;
    text-decoration-color: #199ee1;
    border-left: 10px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    padding: 50px 0 0 0;

}
footer .flink{
    display: flex;
    align-items: center;
    padding: 50px 100px;
    justify-content: space-between;
}
a.active{
    font-weight: 600;
}


@media (max-width:1020px) {
    #continfo
    {
        padding-top: 30px;
        font-size: 20px !important;
    }
    #cont h1{
        padding-top: 50px !important;
        font-size: 10vmin !important;
    }
}
#cont h1{
    padding-top: 20px;
    text-decoration:underline;
    text-decoration-color: #0087ca ;
    font-size: 4vmax;
    font-weight: 700;
    text-align: center;
}
#continfo
{
    line-height-step: 2;
    font-size: 30px;
    padding: 150px 20px;
    text-align: center;
}